# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [91]:
import pandas as pd
import numpy as np

# Seu código aqui
pd.DataFrame({"ano": [1900,1920,1940,1960,1980]})

    ano
0  1900
1  1920
2  1940
3  1960
4  1980

#### 2) Coloque os anos nos índices conforme a tabela.

In [92]:

# seu código aqui

pd.DataFrame({"ano": [1900,1920,1940,1960,1980,2000,2020]})

    ano
0  1900
1  1920
2  1940
3  1960
4  1980
5  2000
6  2020

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [93]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

popTemperaturasDict = {
    '1900' :  -.08,
    '1920' :  -.27,
    '1940' :  -.12,
    '1960' :  -.03,
    '1980' :  -.26,
    '2000' :  -.40,
    '2020' :  1.02
}
popTemperaturasSerie = pd.Series(popTemperaturasDict)
popTemperaturasSerie

1900   -0.08
1920   -0.27
1940   -0.12
1960   -0.03
1980   -0.26
2000   -0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [94]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
pd.DataFrame({"Dados": [100,10,(20,3)]})

     Dados
0      100
1       10
2  (20, 3)

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [100]:
#seu código aqui
pd.DataFrame({"x1" :[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20], 
                          "x2" :[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
                          "x3" :[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]})

    x1  x2  x3
0    1   1   1
1    2   2   2
2    3   3   3
3    4   4   4
4    5   5   5
5    6   6   6
6    7   7   7
7    8   8   8
8    9   9   9
9   10  10  10
10  11  11  11
11  12  12  12
12  13  13  13
13  14  14  14
14  15  15  15
15  16  16  16
16  17  17  17
17  18  18  18
18  19  19  19
19  20  20  20

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [97]:
# seu código aqui

Media_colunasSerie['MÉDIA'] = colunasSerie['x1'] +colunasSerie["x2]" + colunasSerie["X3"]/colunasSerie['MÉDIA']
Media_colunasSerie

SyntaxError: invalid syntax (2371130895.py, line 4)

In [89]:
Media_colunasSerie['MÉDIA'] = colunasSerie['x1'] +colunasSerie["x2]" + colunasSerie["X3"]/colunasSerie['MÉDIA']
Media_colunasSerie

SyntaxError: invalid syntax (1966243082.py, line 2)

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [9]:
# seu código aqui
desculpa não consigo fazer!